html, body {
	
	min-width: 0px;
	
	-webkit-text-size-adjust: none;
	
}

body.landscape div#logo {
	
	background: url('../img/logo_463.png');
	
    height: 66px;
    
    width: 463px;
    
}

body.landscape div#logo:hover {
	
	background-position: 0 66px;
    
}

body.landscape div#page {
	
	width: 476px;
	
}

body.landscape div#slider {
	
	height: 150px;
	
}

body.landscape div#slider img {
	
	height: 150px;
	
    width: 477px;
    
}

body.landscape div#social .inner {
	
    width: 400px;
    
}

body.landscape div.album {
	
	width: 122px;
	
}

body.landscape div.article img {
	
	width: 130px;
	
}

body.landscape div.picture {
	
	width: 120px;
	
}

body.landscape img.band {
	
	height: 191px;
	
}

body.landscape .container_16 .grid_11 {
	
	width: 463px;	
	
}

body.landscape .container_12,
body.landscape .container_16 {
	
	width: 480px;
	
}

body.landscape .icon {
	
	margin-left: 27px;
	
}

body.landscape .quote {
	
	background: url("../img/quotes_370.png");
	
	font-size: 14px;
	
	height: 93px;
	
	margin: 10px auto 45px;
	
	width: 370px;
	
}

body.landscape .quote .text {
	
	padding: 10px 100px 0 35px;
	
	width: 310px;
	
}

body.portrait div#logo,
div#logo {
	
	background: url('../img/logo_303.png');
	
    height: 42px;
    
    width: 303px;
    
}

body.portrait div#logo:hover,
div#logo:hover {
	
	background-position: 0 43px;
    
}

body.portrait div#page,
div#page {
	
	width: 316px;
	
}

body.portrait div.article img {
	
	width: 80px;
	
}

body.portrait div.album,
div.album {
	
	width: 115px;
	
}


body.portrait div.picture {
	
	width: 122px;
	
}

body.portrait div#slider,
div#slider {
	
	height: 100px;
    
}

body.portrait div#slider img,
div#slider img {
	
	height: 100px;
	
    width: 318px;
    
}

body.portrait div#social .inner {
	
    width: 300px;
    
}

body.potrait img.band,
img.band {
	
	height: 118px;
	
}

body.portrait .container_12,
body.portrait .container_16 {
	
	width: 320px;
	
}

body.portrait .icon {
	
	margin-left: 6px;
	
}

body.portrait .quote {
	
	background: url("../img/quotes_266.png");
	
	font-size: 11px;
	
	height: 67px;
	
	margin: 10px auto 30px;
	
	width: 266px;
	
}

div#footer {
	
	font-size: 8px;
	
}

div#nav.bar a {
	
	font-size: 8px;
	
	height: 26px;
	
	min-width: 0;
	
	padding: 14px 8px 0;
	
}

div.addthis_toolbox {
	
	height: 16px;
	
	overflow: hidden;
	
	width: 18px;
	
}

div.album-container {
	
	width: auto;
	
}

div.album-container img {
	
	width: 110px;
	
}

div.article img {
	
	width: 80px;
	
}

div.cover img {
	
	height: 75px;
	
	width: 75px;
	
}

div.desktop {
	
	margin-top: 5px;
	
	position: absolute;
	
}

div.picture {
	
	height: 86px;
	
	margin-right: 0;
	
}

div.picture img {
	
	height: 86px;
	
	width: 86px;
	
}

div.table div.left {
	
	padding-right: 40px;
	
}

div.tracklist {
	
	text-align: left;
	
	width: 187px;
	
}

div.wrapper {
	
	padding: 0;
	
}

img.profile {
	
	width: 100px;
	
}

.bar {
	
	padding: 0;
	
}

.container_12, .container_16 {
	
	margin: 0;
	
}

.container_16 .grid_11 {
	
	width: 303px;
	
}

.container_12,
.container_16 {
	
	width: 320px;
	
}

.date {
	
	
}

/*


div#nav.bar a {
	
	margin-right: -5px;
	
}

div#nav.bar a,
div#nav.bar div.hover {
	
	background: transparent;
	
	color: #FFFFFF;

	display: inline-block;
	
	height: 30px;
	
	margin: 0;
	
	padding: 10px 10px 0;
	
	text-align: center;
	
	text-decoration: none;
	
	min-width: 50px;
	
	position: relative;
	
}

div#nav.bar a {
	
}

div#nav.bar a:hover,
div#nav.bar div.hover {
	
	background-color: #FFFFFF;
	
	background: url('../img/nav.png') repeat-x;
	
	background-position: bottom;
	
	background-image: linear-gradient(bottom, #FFFFFF 5%, #CDCDCD 44%);				
	background-image: -o-linear-gradient(bottom, #FFFFFF 5%, #CDCDCD 44%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 5%, #CDCDCD 44%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 5%, #CDCDCD 44%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 5%, #CDCDCD 44%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, #FFFFFF),
		color-stop(0.44, #CDCDCD)
	);
	
	border: none;
	
	color: #383231;
	
}

div#nav.bar div.hover {
	
	position: absolute;
	
	top: 0; left: 0; bottom: 0; right: 0;
	
	opacity: 0;
	
}

div#nav.bar a:hover div.hover {
	
	opacity: 1;
	
}

div#nav.bar a:hover {
	
	background-position: 0 0;
	
}

.gallery li {

	display: block;

	float: left;	

	padding: 0 4px;
	
}

.gallery a {

	display: block;

	text-decoration: none;

}

.gallery span {

	display: none;

	margin-top: 3px;
	
	text-align: center;

	font-size: 12px;	

	color: #fff;

}

.gallery a:hover span {

	display: block;

}

.gallery img {
	
    -webkit-border-radius: 3px;

    -moz-border-radius: 3px;

}
*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	
	margin: 0 5px;
	
}

.toolbar .tagline {
	
	font-size: 14px;
	
	padding: 5px 15px;
	
}

.quote {
	
	background: url("../img/quotes_266.png");
	
	font-size: 11px;
	
	height: 67px;
	
	margin: 10px auto 30px;
	
	width: 266px;
	
}

.quote .text {
	
	padding: 5px 0 0 30px;
	
	width: 216px;
	
}

/*

.twtr-widget {
	
	margin-left: 16px;
	
}

body.landscape .twtr-doc {
	
	width:3000px;
	
}

*/