.connect_widget_connect_button {
	
	margin-bottom: 3px !important;
	
}

.connect_widget_number_cloud {
	
	height: 23px !important;
	
}

.count-o {
	
	height: 29px !important;
	
	margin-top: 2px !important;
	
}
