a,
div.dialog a { color: #F96B02; text-decoration: none; border: none; }

a:active,
a:focus {
	
	outline: none;
	
}

a:hover,
div.dialog a:hover { text-decoration: underline; /* border: 1px dotted #F96B02; border-width: 0 0 1px;*/ }

a.back {
	
	font-weight: bold;
	
}

a.back:hover {
	/*
	border: 1px dotted #F96B02 !important;
	
	border-width: 0 0 1px !important;
	*/
}

a.right {
	
	float: right;
	
}

a, img.band {
	
	cursor: pointer;
	
}

body {
	
	background-attachment: fixed;
	
	background-color: #E82D0C;
	
	background-image: linear-gradient(bottom, #E8A264 1%, #E82D0C 44%);
	background-image: -ms-linear-gradient(bottom, #E8A264 1%, #E82D0C 44%);
	background-image: -moz-linear-gradient(bottom, #E8A264 0%, #E82D0C 44%);
	background-image: -o-linear-gradient(bottom, #E8A264 1%, #E82D0C 44%);
	background-image: -webkit-linear-gradient(bottom, #E8A264 1%, #E82D0C 44%);
	
/*	Apparently, this does not bode well with the background-attachment set to fixed.
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E82D0C', EndColorStr='#E8A264'); */
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.17, #E8A264),
		color-stop(0.44, #E82D0C)
	);
	
	color: #222;
	
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 13px;
	
}

body span.pagination {
	
	display: inline;
	
}

div#archive-popout {
	
	height: 300px;
	
	position: absolute;
	
	right: 0px;
	
	top: 10px;
	
	visibility: hidden;
	
	width: 100px;
	
	z-index: -1;
	
}
	
	div#home table,
	div#archive-popout table {
		
		margin-bottom: 10px;
		
	}
	
	div#home td a,
	div#archive-popout td a {
		
		margin-left: 5px;
		
	}
	
	div#home .year,
	div#archive-popout .year {
		
		border: 1px dotted #CCCCCC;
		
		border-width: 0 0 1px;
		
		color: #003366;
		
		font-weight: bold;
		
		margin-bottom: 10px;
		
	}

div#biography div.back {
	
	right: 5px;
	
	top: -25px;
	
}

div#biography .body div.add,
div#biography .body div.connect,
div#biography .body div.friends {
	
	bottom: 10px;
    
	display: none;
	
	float: none !important;
	
	position: absolute;
    
	right: 10px;
	
}

div#biography div.nav,
div#pictures div.nav {
	
	margin-top: 10px;
	
}

div#biography .body {
	
	padding: 19px;
	
}

div#biography .main {
	
	padding-bottom: 10px;
	
}

div#biography .solo {
	
	display: none;
	
	min-height: 150px;
	
}

div#biography .solo img.profile {
	
	border-radius: 90px;
	
	-moz-border-radius: 90px;
	
	-webkit-border-radius: 90px;
	
	-o-border-radius: 90px;
	
	-ms-border-radius: 90px;
	
	-khtml-border-radius: 90px;
	
	float: left;
	
	margin: 0 10px 10px 0;
	
}

div#contact .body {
	
	padding: 15px;
	
}

div#contact div.add,
div#contact div.connect {
	
	margin: 5px;
	
}

div#contact div.table {
	
	margin: 15px auto 0;
	
}

div#container {
	
	background-color: #FFC2A3;
	
	border: 1px solid #9B1A04;
	
	border-width: 0 3px;
	
	width: auto; /* 954px */
	
}

div#content {
	
	/* width: 640px; */
	
}

div#header {
	
	padding: 5px;
	
}

div#fb-name {
	
	float: left;
	
	font-size: 11px;
	/*
	padding: 12px 15px 0 5px;
	*/
}

div#footer {
	
	border-color: #000 #222 #222 #555;
	
	border-width: 0 3px 3px 3px;
	
	font-size: 10px;
	
	padding: 20px 20px 0;
	
	position: relative;
	
	width: auto; /* 914px */
	
}

div#logo {
	
	background: url('../img/logo.png');
	
	height: 135px;
	
	margin: auto;
	
	width: 947px;
	
}

div#logo {
	
	display: inline-block;
	
	position: relative;
	
	text-indent: -9999px;
	
}

div#logo .hover {
	
	position: absolute;
	
	top: 0; left: 0; bottom: 0; right: 0;
	
	background: url('../img/logo.png');
	
	background-position: 0 135px;
	
	opacity: 0;
	
}

div#logo:hover .hover {
	
	opacity: 1;
	
}

div#logo:hover {
	
	background-position: 0 0;
	
}

div#music .inner,
div#schedule .inner {
	
	
}

div#music .year {
	
	font-style: italic;
	
}

div#nav.bar a {
	
	margin-right: -5px;
	
}

div#nav.bar a,
div#nav.bar div.hover {
	
	/* Was transparent */
	
	background: url('../img/nav.png') 0 0 no-repeat;
	
	color: #FFFFFF;

	display: inline-block;
	
	height: 30px;
	/*
	margin: 0;
	*/
	padding: 10px 10px 0;
	
	text-align: center;
	
	text-decoration: none;
	
	min-width: 50px;
	
	position: relative;
	
}

div#nav.bar a {
	
}

div#nav.bar a:hover,
div#nav.bar div.hover {
	
	background-color: #FFFFFF;
	
	background: url('../img/nav.png') repeat-x;
	
	background-position: bottom;
	
	/*
	
	background-image: linear-gradient(bottom, #FFFFFF 5%, #CDCDCD 44%);				
	background-image: -o-linear-gradient(bottom, #FFFFFF 5%, #CDCDCD 44%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 5%, #CDCDCD 44%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 5%, #CDCDCD 44%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 5%, #CDCDCD 44%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, #FFFFFF),
		color-stop(0.44, #CDCDCD)
	);
	
	*/
	
	border: none;
	
	color: #383231;
	
}

div#nav.bar div.hover {
	
	position: absolute;
	
	top: 0; left: 0; bottom: 0; right: 0;
	
	opacity: 0;
	
}

div#nav.bar a:hover div.hover {
	
	opacity: 1;
	
}

div#nav.bar a:hover {
	
	background-position: 0 0;
	
}

div#home div.back {
	
    right: 10px;
    
	top: 6px;
	
}

div#home .inner > span.title {
	
	background-color: #F9F9F9;
	
	border: 1px dotted #CCCCCC;
	
	border-radius: 10px 0 0 0;
	
	-moz-border-radius: 10px 0 0 0;
	
	-webkit-border-radius: 10px 0 0 0;
	
	-o-border-radius: 10px 0 0 0;
	
	-ms-border-radius: 10px 0 0 0;
	
	-khtml-border-radius: 10px 0 0 0;
	
	border-width: 1px 1px 0;
	
	font-size: 16px;
	
	font-weight: bold;
	
	padding: 3px 10px;
		
}

div#page {
	
	margin: auto;
	
	width: 940px;
	
}

div#page-wrapper {
	
	padding: 10px 0;
	
	position: relative;
	
}

div#pictures div.back {
	
	right: 10px;
	
	top: 11px;
	
}

div#pictures .inner a:hover {
	
	border: 0;
	
}

div#player .inner {
	
	height: 140px;
	
}

div#player .inner,
div#schedule .inner {
	
	width: 258px;
	
}

div#schedule .inner {
	
	height: 300px;
	
}

div#sidebar {
	
	width: 280px;
	
}

div#slider {
	
	border: 1px solid #222222;
	
	border-width: 1px 0 0 0;
	
	height: 300px;
	
	overflow: hidden;
	
	width: auto; /* 954px */
	
}

div#slider div.elemovements-slider ul.pagination li {
	
	background: rgba(0,0,0,0.6);
	
	border-radius: 10px;
	
	-moz-border-radius: 10px;
	
	-webkit-border-radius: 10px;
	
	-o-border-radius: 10px;
	
	-ms-border-radius: 10px;
	
	-khtml-border-radius: 10px;
	
	height: 8px;
	
	text-indent: 10000px;
	
	width: 8px;
	
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	
}

div#slider div.elemovements-slider ul.pagination li.current{

	background: rgba(255, 255, 255, 0.2);

}

div#social .inner {
	
	/*
	
	I'm not sure whether this is best...
	
	text-align: center;
	
	*/
	
	width: 246px;
	
}

div#social-popout {
	
	background: #001834;
	
	left: -79px;
	
	min-height: 245px;
	
	position: absolute;
	
	top: -4000px;	/* was 0 */
	
	visibility: visible;
	
	width: 64px;
	
	/* For the non-JS site.  Not the best solution but if this's visible it looks bad otherwise. */
	word-wrap: break-word;
	
	z-index: 301;
	
}

	div#social-popout .inner {
		
		display: none;
		
	}

div#tweets {
	
	background: #FFFFFF;
	
	border: 1px solid #888888;
	
	border-width: 1px 0;
	
	font-size: 13px;
	
	height: 130px;
	
	line-height: 21px;
	
	list-style: none;
	
	margin: 5px 0 30px -10px;
	
	overflow: auto;
	
	padding: 10px;
	
	position: relative;
	
	text-align: left;
	
	width: 224px;
	
}
	
	div#tweets a.time {
		
		font-size: 11px;
		
	}
	
	div#tweets p {
		
		background: #E8F4FF;
	
		border: 1px solid #DDDDDD;
	
		margin: 0 0 9px;
	
		padding: 5px;
		
	}
	
	div#tweets a[style="font-size: 85%;"] {
		
		font-size: 10px !important;
		
	}

div#tweets span, div#tweets span a {
	
	color: #333333;
	
	text-decoration: none;
	
}

div#twitter_box {
	
	background: #FFF3ED;
	
	border: 1px solid #111111;
	
	border-radius: 20px;
	
	-moz-border-radius: 20px;
	
	-webkit-border-radius: 20px;
	
	-o-border-radius: 20px;
	
	-ms-border-radius: 20px;
	
	-khtml-border-radius: 20px;
	
	color: #333333;
	
	margin-bottom: 15px;
	
	padding: 10px;
	
	position: relative
	
}
	
	div#twitter_box a.right {
		
		color: #019AD2;
		
		font-weight: bold;
		
	}
	
	div#twitter_box div.overlay {
		
		background: url("../img/overlay.png") repeat scroll 0 0 transparent;
		
		height: 150px;
		
		left: 0;
		
		position: absolute;
		
		top: 40px;
		
		width: 244px;
		
	}
	
	div#twitter_box .overlay img {
		
		left: 100px;
		
		position: relative;
		
		top: 60px;
		
	}
	
	div#twitter_box span.title {
		
		font-size: 16px;
		
		font-weight: bold;
		
	}

div.add {
	
	background: url('../img/add.jpg') no-repeat;
	
	display: block;
	
	height: 24px;
	
	margin-left: 10px;
	
	width: 90px;
	
}
	
	div.add:active {
		
		background-position: 0 -24px;
		
	}
	
	div.add:hover {
		
		cursor: pointer;
		
	}

div.addthis_toolbox {
	
	position: absolute;
	
	right: 5px;
	
	width: 138px;
	
}

div.album {
	
	-moz-border-radius: 10px;
	
	-webkit-border-radius: 10px;
	
	-o-border-radius: 10px;
	
	-ms-border-radius: 10px;
	
	-khtml-border-radius: 10px;
	
	border-radius: 10px;
	
}

div.album,
div.picture {
	
	border: 1px solid #CC0000;
	
	padding: 5px;
	
	text-align: center;
	
	width: 128px;
	
}

div.album img,
div.picture img {
	
	/* This doesn't look too bad either and would eliminate the
	   need for the same statement on line 434.
	   
	   height: 86px; */
	
}

div.album {
	
	width: 130px;
	
}

div.album-container,
div.picture {
	
	display: inline-block;
	
	margin: 0 6px 10px;
	
	text-align: center;
	
}

div.album-container {
	
	margin: 0 5px 10px;
	
	width: 141px;
	
}

div.album-container div.name a:hover {
	/*
	 border: 1px dotted #F96B02 !important;
	 
	 border-width: 0 0 1px !important;
	*/
}

div.album-container img {
	
	height: 86px;
	
	width: 130px;
	
}

div.album-container .name {
	
	font-weight: bold;
	
	margin-top: 5px;
	
}

div.album-info {
	
	margin: 0 0 10px;
	
	min-height: 150px;
	
	width: 100%;
	
}
	
	div.album-info .right {
		
		float: right;
		
		width: 506px;
		
	}

div.album-title h3 {
	
	margin: 0;
	
}

div.article {
	
	border: 1px dotted #CCCCCC;
	
	padding: 10px;
	
}
		
	div.article + div.info {
		
		background-color: #FFFFCC;
		
		border: 1px dotted #CCCCCC;
		
		border-radius: 0 0 10px 0;
		
		-moz-border-radius: 0 0 10px 0;
		
		-webkit-border-radius: 0 0 10px 0;
		
		-o-border-radius: 0 0 10px 0;
		
		-ms-border-radius: 0 0 10px 0;
		
		-khtml-border-radius: 0 0 10px 0;
		
		border-width: 0 1px 1px;
		
		font-size: 10px;
		
		height: 16px;
		
		margin-bottom: 20px;
		
		padding: 5px;
		
	    position: relative;
		
	}
	
	div.article img.left {
		
		float: left;
			
	}
	
	div.article img.main {
		
		border-radius: 7px;
		
		-khtml-border-radius: 7px;
		
		-ms-border-radius: 7px;
		
		-moz-border-radius: 7px;
		
		-o-border-radius: 7px;
		
		-webkit-border-radius: 7px;
		
		float: left;
		
		margin: 0 10px 10px 0;
		
		width: 130px;
			
	}
	
	div.article img.right {
		
		float: right;
			
	}
	
	div.article ul li {
		
		list-style-type: decimal;
		
	}
	
div.author {
	
	float: right;
	
}

div.back {
	
	background: url("../img/back.png") no-repeat;
	
	display: none;
	
	height: 22px;
	
	position: absolute;
	
	width: 69px;
	
}
	
	div.back:active {
		
		background-position: 0 -44px;
		
	}
	
	div.back:hover {
		
		background-position: 0 -22px;
		
	}

div.biography {
	
	padding: 0 3px 20px 0;
	
}

div.box-1 {
	
	margin-bottom: 10px;
	
}

div.box-1 > .title {
	
	background-color: #9B1B04;
	
	border: 1px solid #222;
	
	border-radius: 10px 10px 0 0;
	
	-khtml-border-radius: 10px 10px 0 0;
	
	-ms-border-radius: 10px 10px 0 0;
	
	-moz-border-radius: 10px 10px 0 0;
	
	-o-border-radius: 10px 10px 0 0;
	
	-webkit-border-radius: 10px 10px 0 0;
	
	background-image: linear-gradient(bottom, #C1412B 5%, #9B1B04 44%);
	background-image: -o-linear-gradient(bottom, #C1412B 5%, #9B1B04 44%);
	background-image: -moz-linear-gradient(bottom, #C1412B 5%, #9B1B04 44%);
	background-image: -webkit-linear-gradient(bottom, #C1412B 5%, #9B1B04 44%);
	background-image: -ms-linear-gradient(bottom, #C1412B 5%, #9B1B04 44%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, #C1412B),
		color-stop(0.44, #9B1B04)
	);
	
	color: #FFFFFF;
	
	/*
	
	This doesn't adhere to the border-radius.
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#9B1B04", EndColorStr="#C1412B");
	
	*/
	
    font-weight: bold;
	
	padding: 4px 10px 3px;
	
	position: relative;
	
}
	
	div.box-1 > .title a {
		
		border-color: #86D7FD !important; 
		
		color: #86D7FD !important;
		
	}
	
	div.box-1 > .title .button {
		
		display: inline-block;
		
		float: right;
		
		font-family: "Courier New";
		
		font-size: 20px;
		
		margin: -6px -5px 0;
		
		position: absolute;
		
		right: 11px;
		
		top: 4px;
		
	}
	
	div.box-1 > .title .button a:hover {
		
		color: red !important;
		
		border: none !important;
		
	}
	
	div.box-1 > .title .links {
		
		float: right;
		
		font-size: 10px;
		
		padding: 2px 0 0;
		
	}
	
div.box-1 .body {
	
	background: #FFFFFF;
	
	border: 1px solid #222;
	
	border-width: 0 1px 1px 1px;
	
	border-radius: 0 0 10px 10px;
	
	-khtml-border-radius: 0 0 10px 10px;
	
	-ms-border-radius: 0 0 10px 10px;
	
	-moz-border-radius: 0 0 10px 10px;
	
	-o-border-radius: 0 0 10px 10px;
	
	-webkit-border-radius: 0 0 10px 10px;
	
	box-shadow: 2px 3px 5px #666666;
	
	-mozbox-box-shadow: 2px 3px 5px #666666;
	
	-webkit-box-shadow: 2px 3px 5px #666666;
	
	margin-bottom: 10px;
	
	padding: 10px;
	
	position: relative;
	
	text-align: justify;
	
}

div.box-1 .body .inner {
	
	margin: auto;
	
}

div.box-2,
div.box-3 {
	
	background-color: #FFFFFF;
	
	border: 1px solid #222222;
	
	border-radius: 0 10px 10px 0;
	
	-khtml-border-radius: 0 10px 10px 0;
	
	-ms-border-radius: 0 10px 10px 0;
	
	-moz-border-radius: 0 10px 10px 0;
	
	-o-border-radius: 0 10px 10px 0;
	
	-webkit-border-radius: 0 10px 10px 0;
	
	border-width: 1px 1px 1px 0;
	
	padding: 5px 5px 5px 20px;
	
}
	
	div.box-2 .inner {
		
		height: inherit;
		
		margin: auto;
		
		overflow-y: auto;
		
		width: auto;
		
	}

div.box-3 {
	
	border-radius: 10px 0 0 10px;
	
	-khtml-border-radius: 10px 0 0 10px;
	
	-ms-border-radius: 10px 0 0 10px;
	
	-moz-border-radius: 10px 0 0 10px;
	
	-o-border-radius: 10px 0 0 10px;
	
	-webkit-border-radius: 10px 0 0 10px;
	
	border-width: 1px 0 1px 1px;
	
	padding: 5px /*20px 5px 5px*/;
	
}

div.buttons {
	
	margin-top: 15px;
	
}

	div.buttons > div {
		
		margin: 4px 0;
		
	}

div.clear {
	
	clear: both;
	
}

div.connect {
	
	background: url('../img/connect.jpg') no-repeat;
	
	display: block;
	
	height: 24px;
	
	width: 90px;
	
}
	
	div.connect:hover {
		
		cursor: default;
		
	}

div.cover {
	
	display: inline-block;
	
	font-weight: bold;
	
	margin-right: 6px;
	
	text-align: center;
	
}
	
	div.cover > img {
		
		border: 1px solid #333333;
		
		border-radius: 5px;
		
		-khtml-border-radius: 5px;
		
		-ms-border-radius: 5px;
		
		-moz-border-radius: 5px;
		
		-o-border-radius: 5px;
		
		-webkit-border-radius: 5px;
		
		margin: 0 0 5px;
		
	}

div.description {
	
    background: url("../img/info.png") no-repeat 5px 5px #ffeec8;
	
	border-color: #ffae00 !important;
	
	font-size: 12px;
	
    font-style: italic;
	
	margin-bottom: 5px !important;
	
    padding: 6px 6px 6px 30px;
	
    width: 464px !important;
	
}
	/*
	div.description > .inner {
		
		background: #FFFFFF;
		
		border-radius: 10px;
		
		-khtml-border-radius: 10px;
		
		-ms-border-radius: 10px;
		
		-moz-border-radius: 10px;
		
		-o-border-radius: 10px;
		
		-webkit-border-radius: 10px;
		
		padding: 5px;
		
	}*/

div.description,
table.tracklist {
	
	border: 2px solid #2d426f;
	
	border-radius: 7px;
			
	-khtml-border-radius: 7px;
	
	-ms-border-radius: 7px;
	
	-moz-border-radius: 7px;
	
	-o-border-radius: 7px;
	
	-webkit-border-radius: 7px;
	
	display: inline-block;
	
	margin: 3px 0 0;
	
	vertical-align: top;
	
	width: 100%;
	
}

div.dialog {
	
	display: none;
	
}

div.friends {
	
	background: url('../img/friends.jpg') no-repeat;
	
	height: 24px;
	
	margin-left: 10px;
	
	width: 75px;
	
}

div#follow {
	
	bottom: 6px;
	
	position: absolute;
	
	left: 10px;
	
}

div.more {
	
	font-size: 10px;
	
	margin-top: 5px;
	
}

div.picture {
	
	border: none;
	
	width: 128px;
	
}

div.picture img {
	
	border: 2px solid #CCCCCC;
	
}

div.play,
div.stop {
	
	height: 16px;
	
	margin-top: 1px;
	
	width: 16px;
	
}

div.play {
	
	background: url("../img/play.png") no-repeat;
	
}
	
	div.play:active {
		
		background-position: 0 -32px !important;
		
	}
	
	div.play:hover {
		
		background-position: 0 -16px;
		
	}

div.section {
	
	margin-top: 20px;
	
}

div.section-title {
	
	display: inline-block;
	
	font-size: 16px;
	
	font-weight: bold;
	
	margin: 0 0 10px;
	
}

div.signature {
	
	position: absolute;
	
}

div.stop {
	
	background: url("../img/stop.png") no-repeat;
	
}
	
	div.stop:active {
		
		background-position: 0 -32px !important;
		
	}
	
	div.stop:hover {
		
		background-position: 0 -16px;
		
	}

div.table {
	
	display: table;
	
}
	
	div.table div.left,
	div.table div.right,
	div.table div.row div.title {
		
		display: table-cell;
		
	}
	
	div.table div.left,
	div.table div.right {
		
		padding: 10px;
		
	}
	
	div.table div.left {
		
		font-style: italic;
		
		padding-left: 25px;
		
	}
		
	div.table div.row {
		
		display: table-row;
		
	}
		
	div.table div.row div.title {
		
		font-weight: bold;
		
	}

div.ui-dialog {
	
	border: 1px solid #222222;
	
	border-radius: 6px;
	
	-khtml-border-radius: 6px;
	
	-ms-border-radius: 6px;
	
	-moz-border-radius: 6px;
	
	-o-border-radius: 6px;
	
	-webkit-border-radius: 6px;
	
	display: none;
	
	font-size: 12px;
	
	text-align: justify;
	
	z-index: 2001 !important;
	
}

div.ui-dialog-titlebar {
	
	background-color: #9B1B04;
	
	background-image: none !important;
	
	background-image: linear-gradient(bottom, #C1412B 5%, #9B1B04 44%);
	background-image: -o-linear-gradient(bottom, #C1412B 5%, #9B1B04 44%);
	background-image: -moz-linear-gradient(bottom, #C1412B 5%, #9B1B04 44%);
	background-image: -webkit-linear-gradient(bottom, #C1412B 5%, #9B1B04 44%);
	background-image: -ms-linear-gradient(bottom, #C1412B 5%, #9B1B04 44%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, #C1412B),
		color-stop(0.44, #9B1B04)
	);
	
	border-radius: 3px 3px 0 0;
	
	-khtml-border-radius: 3px 3px 0 0;
	
	-ms-border-radius: 3px 3px 0 0;
	
	-moz-border-radius: 3px 3px 0 0;
	
	-o-border-radius: 3px 3px 0 0;
	
	-webkit-border-radius: 3px 3px 0 0;
	
	font-size: 12px;
	
	margin: -2px -3px 0 -2px;
	
}

div.wrapper {
	
	padding-bottom: 20px;
	
}

html.home span.pagination,
html.news span.pagination {
	
	display: none;
	
}

iframe[name='download'] {
	
	height: 1px;
	
	left: 0;
	
	position: absolute;
	
	top: 0;
	
	width: 1px;
	
}

img#fb-picture {
    
	float: left;
	
    margin: 4px;
    
}

img.admin-button {
	
	vertical-align: bottom;
	
}

img.band {
	
	margin: 0 -2px;
	
}

li {
	
	/* margin-left: 25px; */
	
}

span.pagination {
	
	background-color: #EEEEEE;
    
	border: 1px solid #CCCCCC;
    
	border-radius: 5px;
	
	-khtml-border-radius: 5px;
	
	-ms-border-radius: 5px;
	
	-moz-border-radius: 5px;
	
	-o-border-radius: 5px;
	
	-webkit-border-radius: 5px;
	
	font-size: 16px;
    
	font-weight: bold;
    
	padding: 5px 0;
	
	position: relative;
	
}
	
	span.pagination span {
		
		border: 2px solid #CCCCCC;
		
		border-width: 0 1px;
		
		padding: 5px 10px;
		
	}

table.tracklist {
	
	margin-bottom: 10px;
	
}
	
	table.tracklist a {
		
		color: #003287 !important;
		
	}
	
	table.tracklist a:hover {
		
		border-color: #003287 !important;
		
	}
	
/*	table.tracklist td,
	*/table.tracklist th {
		
		padding-right: 10px;
		
	}
	
/*	table.tracklist td.downloads {
		
		width: 23% !important;
		
	}*/
	
	table.tracklist th.downloads {
		
		text-align:
		
	}
	
/*	table.tracklist td.title {
		
		width: 77% !important;
		
	}*/
	
	table.tracklist td:not(.title),
	table.tracklist th:not(.title) {
		
		text-align: center;
		
	}

td, th {
	
	padding: 4px 0;
	
}

th {
	
	border: 1px solid #2d426f !important;
	
	border-width: 0 0 1px !important;
	
	font-weight: bold !important;
	
	padding-bottom: 2px !important;
	
	padding-top: 2px !important;
	
}

th.track {
	
	padding-left: 6px;
	
}

tr.track {
	
	padding: 2px;
	
}
	
	table.tracklist tr:first-child {
		
		background-color: #2D426F;
		
		border-radius: 5px 5px 0 0;
		
		-khtml-border-radius: 5px 5px 0 0;
		
		-ms-border-radius: 5px 5px 0 0;
		
		-moz-border-radius: 5px 5px 0 0;
		
		-o-border-radius: 5px 5px 0 0;
		
		-webkit-border-radius: 5px 5px 0 0;
		
		color: #FFFFFF;
		
	}
	
	/*table.tracklist tr:last-child {
		
		background: transparent !important;
		
	}
	
	table.tracklist tr:last-child td:first-child {
		
		border-radius: 0 0 0 5px;
				
		-khtml-border-radius: 0 0 0 5px;
		
		-ms-border-radius: 0 0 0 5px;
		
		-moz-border-radius: 0 0 0 5px;
		
		-o-border-radius: 0 0 0 5px;
		
		-webkit-border-radius: 0 0 0 5px;
		
	}
	
	table.tracklist tr:last-child td:last-child {
		
		border-radius: 0 0 5px 0;
				
		-khtml-border-radius: 0 0 5px 0;
		
		-ms-border-radius: 0 0 5px 0;
		
		-moz-border-radius: 0 0 5px 0;
		
		-o-border-radius: 0 0 5px 0;
		
		-webkit-border-radius: 0 0 5px 0;
		
	}
	*/
	
	tr.track:nth-child(odd) {
		
		background-color: #96b2cd;
		
		color: #FFFFFF;
		
	}
	
	tr.track:nth-child(even) {
		
		background-color: #e8f0f8;
		
	}
	
	tr.track div.number {
		
		background-color: #FFFFFF;
		
		border: 1px solid #111111;
		
		border-radius: 20px;
				
		-khtml-border-radius: 20px;
		
		-ms-border-radius: 20px;
		
		-moz-border-radius: 20px;
		
		-o-border-radius: 20px;
		
		-webkit-border-radius: 20px;
		
		color: #111111;
		
		display: inline-block;
		
		font-size: 9px;
		
		height: 12px;
		
		margin: 0 10px 0 3px;
		
		text-align: center;
		
		width: 12px;
		
	}

ul.horiz-list {
	
	display: block;
	
	width: 8065px;
	
	margin: 0;
	
	list-style: none;
	
}

ul.pagination {
	
	padding-top: 5px;
	
}

.change-bg {
	
	-webkit-transition: background 1s linear;
	
	-khtml-transition: background 1s linear;
	
	-moz-transition: background 1s linear;
	
	-ms-transition: background 1s linear;
	
	-o-transition: background 1s linear;
	
	transition: background 1s linear;
	
}

.change-color {
	
	-webkit-transition: color 0.5s;
	
	-khtml-transition: color 0.5;
	
	-moz-transition: color 0.5;
	
	-ms-transition: color 0.5;
	
	-o-transition: color 0.5;
	
	transition: color 0.5;
	
}

.bar {
	
	background-color: #383231;
	
	background-image: linear-gradient(bottom, #6E6760 5%, #383231 44%);
	background-image: -o-linear-gradient(bottom, #6E6760 5%, #383231 44%);
	background-image: -moz-linear-gradient(bottom, #6E6760 5%, #383231 44%);
	background-image: -webkit-linear-gradient(bottom, #6E6760 5%, #383231 44%);
	background-image: -ms-linear-gradient(bottom, #6E6760 5%, #383231 44%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, #6E6760),
		color-stop(0.44, #383231)
	);
	
	border: 1px solid #222222;
	
	border-width: 1px 0;
	
	color: #FFFFFF;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#383231", EndColorStr="#6E6760");

	font-weight: bold;
	
	height: 40px;
	
	padding-left: 30px;
	
	width: auto;
	
}

.bold {
	
	font-weight: bold;
	
}

.center {
	
	text-align: center;
	
}

.date {
	
	background-color: #FFFFCC;
	
	border: 1px solid #FF9933;
	
	border-radius: 10px;
	
	-moz-border-radius: 10px;
	
	-webkit-border-radius: 10px;
	
	-o-border-radius: 10px;
	
	-ms-border-radius: 10px;
	
	-khtml-border-radius: 10px;
	
	margin-bottom: 10px;
	
	padding: 10px;
	
}

.description {
	
	border-top: 1px solid #AAAAAA;
	
	margin: 2px 0 0;
	
	padding: 5px;
	
}

.fade-in {
	
	-webkit-transition: opacity 0.5s;
	
	-khtml-transition: opacity 0.5s;
	
	-moz-transition: opacity 0.5s;
	
	-ms-transition: opacity 0.5s;
	
	-o-transition: opacity 0.5s;
	
	transition: opacity 0.5s;
	
}

.fb-like {
	
	display: inline-block;
	
	width: 45px;
	
}

.fb-login-button {
	
    float: left;
    
	font-style: normal;
    
	margin-top: 9px;
	
}
	
	.fb-login-button a:hover {
		
		border: none !important;
		
	}

.fb-load {
	
	float: left;
	
	margin: 10px 0 0 10px;
	
	opacity: 0;
	
}

.gallery li {

	display: block;

	float: left;	

	padding: 0 4px;
	
}

.gallery a {

	display: block;

	text-decoration: none;

}

.gallery span {

	display: none;

	margin-top: 3px;
	
	text-align: center;

	font-size: 12px;	

	color: #fff;

}

.gallery a:hover span {

	display: block;

}

.gallery img {
	
    -webkit-border-radius: 3px;

    -moz-border-radius: 3px;

}

.gray {
	
	color: #AAAAAA;
	
}

.green {
	
	color: #009933;
	
}

.group {
	
	display: block;
	
	margin-top: 10px;
	
}

.highslide-controls {
	
	
	
}

.highslide-credits {
	
	display: none;
	
}

.highslide-gallery {
	
	/* Don't forget how important that original width is! */
	
	background: #E6E6E6;
    
	border: 3px solid #333333;
    
	border-radius: 5px;
	
	-moz-border-radius: 5px;
	
	-webkit-border-radius: 5px;
	
	-o-border-radius: 5px;
	
	-ms-border-radius: 5px;
	
	-khtml-border-radius: 5px;
    
	overflow: auto;
    
	padding: 10px;
	
	position: relative;

/*	width: 592px; */
	
}

.icon {
	
	opacity: 0.7;
		
}
	
	.icon:hover {
		
		opacity: 1;
		
	}

.italic {
	
	font-style: italic;
	
}

.load {
	
	color: #CCCCCC;
	
	float: right;
	
	margin: 5px;
	
	opacity: 0;
	
}

.pissed {
	
	font-size: 30px;
	
	font-weight: bold;
	
	margin: 0 auto;
	
}

.scroller li {
	
	display: block;
	
	float: left;
	
}

.scroller a {
	
	display: block;
	
	text-decoration: none;

}


.sticky.left {
	
	/* For the social popout */

	left: 50% !important;

	margin-left: -555px !important;

	position: fixed !important;

	top: 10px;
		
}

.sticky.right {
	
	/* For the archive one */
	
	margin-right: -592px;
	
	position: fixed !important;
	
	right: 50% !important;
	
}

.quote {
	
	background: url('../img/quotes.png') no-repeat;
	
	font-size: 15px;
    
	font-style: italic;
    
	height: 113px;
    
	margin: 5px auto 20px;
    
	width: 450px;
	
}

.quote .text {
	
	padding: 22px 27px 27px 37px;
	
	width: 400px;
	
}

.red {
	
	color: #FF0000;
	
}

.toolbar {
    
	background: #FFFFFF;
	
    border-top: 1px solid #222222;
	
	position: relative;
    
}
	
	.toolbar .tagline {
			
		font-size: 18px;
		
		font-style: italic;
		
		font-weight: bold;
		
		padding: 6px 15px;
		
		text-align: right;
		
	}

.twtr-doc {
	
	border: 1px solid #333333;
	
	border-radius: 5px;
	
	-moz-border-radius: 5px;
	
	-webkit-border-radius: 5px;
	
	-o-border-radius: 5px;
	
	-ms-border-radius: 5px;
	
	-khtml-border-radius: 5px;
	
	margin-bottom: 10px;
	
}

.twtr-widget a:hover {
	
	/* This is getting annoying... might wanna go with text-decoration: underline for hovers...
	   And I did. */
	
	border: none;
	
}

.underline {
	
	text-decoration: underline;
	
}

/*
	border colors: #9B1A04
	interiors: lighter version of #FF4627
	other complementaries: #009B57 and #0CE887
 */