<table width="100%" border="0" cellspacing="1" cellpadding="1">
  <tr> 
    <td width="1%" bgcolor="#555555"> </td>
    <td width="98%" height="40" align="left" valign="top" bgcolor="#555555"><font face="Verdana"><font color="#DFDFB9" size="-1" face="verdana" class="commenttable">{comment}</font><font size="2" color="#FFCC00"> 
      </font></font></td>
    <td width="1%" bgcolor="#555555"> </td>
  </tr>
  <!--BEGIN_ADMIN_CMD//-->
  <tr bgcolor="#3F3F3F">
    <td height="15" colspan="3" valign="middle"><a href="{delcomment-link}"><font color="#FFCC00" size="-2" face="Verdana, Arial, Helvetica, sans-serif"><em>$__l_deletecomment</em></font></a></td>
  </tr>
  <!--END_ADMIN_CMD//-->
  <tr> 
    <td colspan="3" valign="middle" bgcolor="#3F3F3F" style="border-top: 1px solid #D9AD00;"> 
      <font color="#FFCC00" size="-2" face="Verdana, Arial, Helvetica, sans-serif">$__l_by</font><font color="#FFCC00" size="-2" face="Verdana, Arial, Helvetica, sans-serif"><strong> 
      <font color="#FFFFFF">{author}</font></strong> @ <font color="#99CCFF">{date}</font></font></td>
  </tr>
</table>
