<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#f9f9f9" height="40" valign="TOP"> <font color="#004080" size="2" face="Verdana, Arial, Helvetica, sans-serif">{comment}</font></td>
  </tr>
    <!--BEGIN_ADMIN_CMD//-->
  <tr bgcolor="#3F3F3F">
    <td height="15" colspan="3" valign="middle" bgcolor="#EBF2F5"><a href="{delcomment-link}"><font color="#006699" size="-2" face="Verdana, Arial, Helvetica, sans-serif"><em>$__l_deletecomment</em></font></a></td>
  </tr>
  <!--END_ADMIN_CMD//-->
  
  <tr>
    <td bgcolor="#F2F7F9">  <font color="#000000" size="1" face="Verdana, Arial, Helvetica, sans-serif">$__l_by</font><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> 
      <strong>{author}</strong> on <strong>{date}</strong></font></td>
  </tr>
</table>
