										
                                    <span class="title">{title}</span>
                                    
                                    <div class="article">
                                        
                                        {article}
                                        
                                        <div class="more">{full_news_link}$__readmore{/full_news_link}</div>
                                        
                                    </div>
                                    
                                    <div class="info">$__authorline</div>
