<table width="520" cellspacing="0" cellpadding="0">
  <tr> 
    <td height="12"> <strong><font color="#003366" size="-1" face="Verdana, Arial, Helvetica, sans-serif">$__L_year 
      {YEAR}</font></strong> 
      <hr>
    </td>
  </tr>
  <tr>
    <td height="12" align="CENTER"><table width="80%" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse">
        <tr> 
          <td bgcolor="#E1EAF0" height="21" bordercolor="#000066"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>{MONTHS} </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>

</table>
