<style type="text/css">
<!--
.commenttable {
	word-break: break-all;
}
-->
</style>
<script language="JavaScript">
function InsertBBCode(id,bbcode){
 document.getElementById(id).value+=bbcode;
 document.getElementById(id).focus();
}
</script>

<p>{full_story}</p>
<BR>
<table width="520" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid  #3F3F3F;">
  <tr> 
    <td height="23" align="center" background="{script_url}templates/{template}/images/headcell.jpg" bgcolor="#464646"><font color="#FFFFFF" size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Comments</strong></font></td>
  </tr>
  <tr> 
    <td align="center" bgcolor="#555555">{comments}</td>
  </tr>
</table>
<p>{pagination} </p>
<table width="520" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td>{add_comment_form}</td>
  </tr>
</table>
